.hero__section {
    width: 76%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.hero__content {
    height: 100%;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero__input {
    border-radius: 43px;
    background-color: var(--css-bg);
    width: 438px;
    height: 74px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 36px;
}

.hero__input button {
    border-radius: 43px;
    background-color: #e3b748;
    opacity: 1;
    width: 137px;
    height: 100%;
    border: none;
    font-size: 16px;
    line-height: 162.52%;
    font-weight: 500;
}

.hero__input input {
    border: none;
    background-color: var(--css-bg);
}
.hero__input img {
    opacity: 0.1;
    padding: 5px;
}

.hero__image {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    position: relative;
}

.image__bg {
    background-color: #e3b748;
    width: 468px;
    height: 468px;
    border-radius: 55px;
    overflow: visible;
}

.image__poster {
    position: absolute;
    top: -41px;
}