.wcuCard {
    border-radius: 14px;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    width: 362px;
    height: 380px;
    padding: 25px;
}

.grayBg {
    background-color: rgba(255, 255, 255, 0.1);
}

.card__icon {
    position: relative;
    margin-bottom: 26px;
}

.wcuCardIcon {
    position: absolute;
    top: 25px;
    left: 25px;
}

.card__srate {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 26px;
}

.card__detail {
    margin-bottom: 26px;
}

.card__detail p {
    font-size: 14px;
    line-height: 162.52%;
    font-weight: 500;
    font-family: Inter;
    color: #fff;
    text-align: left;
    opacity: 0.3;
}

.card__btn button {
    border-radius: 23.5px;
    border: none;
    background-color: #e3b748;
    width: 121px;
    height: 43px;
    font-size: 14px;
    line-height: 162.52%;
    font-weight: 600;
}