.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--css-black);
    width: 76%;
    margin: auto;
    margin-top: 50px;
}

.navbar-brand {
    font-size: 1.5rem;
    flex: 1.8;
}

.navbar-links {
    flex : 3;
    display: flex;
    justify-content: flex-start;
}

.navbar__footer {
    flex: 6;
    display: flex;
    justify-content: space-evenly;
}

.navbar-link {
    margin-right: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: inherit;
}

.navbar-contact {
    min-width: 200px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-contact-btn {
    padding: 8px 16px;
    background-color: var(--css-black);
    color: var(--css-white);
    text-decoration: none;
    border : 2px solid var(--css-white);
    font-size: 16px;
    font-weight: 600;
    padding: 14px 36px;
    align-self: flex-end;
}

.social__links {
    flex: 1.8;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}